<!DOCTYPE html>
<html lang="en" class="coming-soon">
<head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="author" content="KaijuThemes">

    <link type='text/css' href="css-family=Roboto-300,400,400italic,500.css" tppabs="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500" rel='stylesheet'>
    <link type='text/css'  href="icon-family=Material+Icons.css" tppabs="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet"> 
    <link href="skylo.css" tppabs="http://paper.kaijuthemes.com/assets/plugins/progress-skylo/skylo.css" type="text/css" rel="stylesheet">                   <!-- Skylo -->

    <link href="font-awesome.min.css" tppabs="http://paper.kaijuthemes.com/assets/fonts/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="styles.css" tppabs="http://paper.kaijuthemes.com/assets/css/styles.css" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link href="ie8.css" tppabs="http://paper.kaijuthemes.com/assets/css/ie8.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="html5.js" tppabs="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The following CSS are included as plugins and can be removed if unused-->
    
    </head>

    <body class="focused-form animated-content">
        
        
<div class="container" id="forgotpassword-form">
	<a href="index.html" tppabs="http://paper.kaijuthemes.com/index.html" class="login-logo"><img src="logo-dark.png" tppabs="http://paper.kaijuthemes.com/assets/img/logo-dark.png"></a>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Password Recovery</h2>
				</div>
				<div class="panel-body">
					<form action="" class="form-horizontal">
						<div class="form-group mb-n">
	                        <div class="col-xs-12">
	                        	<p>Enter your email to reset your password</p>
	                        	<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">person</i>
									</span>
									<input type="text" class="form-control" placeholder="Email Address">
								</div>
	                        </div>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<div class="clearfix">
						<a href="extras-login.html" tppabs="http://paper.kaijuthemes.com/extras-login.html" class="btn btn-default pull-left">Go Back</a>
						<a href="" class="btn btn-primary btn-raised pull-right">Reset</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    
    
    <!-- Load site level scripts -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

<script src="jquery-1.10.2.min.js" tppabs="http://paper.kaijuthemes.com/assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
<script src="jqueryui-1.10.3.min.js" tppabs="http://paper.kaijuthemes.com/assets/js/jqueryui-1.10.3.min.js"></script> 							<!-- Load jQueryUI -->
<script src="bootstrap.min.js" tppabs="http://paper.kaijuthemes.com/assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->
<script src="enquire.min.js" tppabs="http://paper.kaijuthemes.com/assets/js/enquire.min.js"></script> 									<!-- Load Enquire -->

<script src="velocity.min.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/velocityjs/velocity.min.js"></script>					<!-- Load Velocity for Animated Content -->
<script src="velocity.ui.min.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/velocityjs/velocity.ui.min.js"></script>

<script src="skylo.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/progress-skylo/skylo.js"></script> 		<!-- Skylo -->

<script src="wijets.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/wijets/wijets.js"></script>     						<!-- Wijet -->

<script src="jquery.sparklines.min.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/sparklines/jquery.sparklines.min.js"></script> 			 <!-- Sparkline -->

<script src="prettify.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->

<script src="bootstrap-tabdrop.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

<script src="jquery.nanoscroller.min.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->

<script src="jquery.dropdown.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/dropdown.js/jquery.dropdown.js"></script> <!-- Fancy Dropdowns -->
<script src="material.min.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/bootstrap-material-design/js/material.min.js"></script> <!-- Bootstrap Material -->
<script src="ripples.min.js" tppabs="http://paper.kaijuthemes.com/assets/plugins/bootstrap-material-design/js/ripples.min.js"></script> <!-- Bootstrap Material -->

<script src="application.js" tppabs="http://paper.kaijuthemes.com/assets/js/application.js"></script>
<script src="demo.js" tppabs="http://paper.kaijuthemes.com/assets/demo/demo.js"></script>
<script src="demo-switcher.js" tppabs="http://paper.kaijuthemes.com/assets/demo/demo-switcher.js"></script>

<!-- End loading site level scripts -->
    <!-- Load page level scripts-->
    
    <!-- End loading page level scripts-->
    </body>
</html>